<strong>{{title}}</strong>
<br> cambiar color: <input type="text" (blur)="changeColor()" [(ngModel)]="color">
<br>
<div class="container" [style.background]="color" [ngClass]="{ bordeVerde: favoritosVisibles == true, fondoAmarillo: favoritosVisibles == true, bordeNegro: !favoritosVisibles }">
  <br>
  <button (click)="showFavoritos()" *ngIf="favoritosVisibles == false">Mostrar favoritos</button>
  <button (click)="hideFavoritos()" *ngIf="favoritosVisibles == true">Ocultar favoritos</button>

  <ul id="favoritos" *ngIf="favoritosVisibles == true">
    <li *ngFor="let favorito of favoritos">{{favorito}}</li>
  </ul>

</div>
