<header id="header">

  <a><img id="logo" src="../../assets/img/angular_whiteTransparent.png" alt=""></a>

  <div class="title-subtitle">
    <h1><a [routerLink]="['/']">{{title}}</a></h1>
    <p>{{description}}</p>
  </div>

  <a [routerLink]="['/agregar-marcador']" class="btn-add-favorito">crear marcador</a>

  <div class="clearfix">

  </div>

</header>

<section class="main">

  <!-- mostramos otro componente -->
  <!-- <favoritos-list></favoritos-list> -->

  <!-- creamos acceso al nuevo router -->
  <router-outlet></router-outlet>

  <div class="clearfix">

  </div>

</section>
